<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('text')" :button="$t('manual')" buttonhref="#/text-ideas-help"/>

		<div class="container mt-3">
			<wait-icon v-if="loading"/>

			<index-list
			:items="allIdeas" :fields="['title','desc','ts']"
			:actions="['show','edit','share','duplicate','export','delete','import','new']"
			role="ideas"
			resturl="ideas/ideas" restkey="ideas"
			v-on:show="start" v-on:edit="edit" v-on:share="share" v-on:export="(item) => { exportIdeas=item }" v-on:reload="loadMeta"
			v-on:new="$router.push({name:'ideas-edit'})" />
		</div>

		<div class="container">
			<p class="lead clear-both">{{$t('privacy-title')}}</p>
			<p>{{$t('privacy-text')}}</p>
		</div>

		<modal-info v-show="exportIdeas" v-on:close="exportIdeas=false">
			<template v-slot:header>{{$t('choose-export-format')}}</template>
			<p class="mb-2">{{$t('export-hint')}}</p>
			<ul class="mb-2">
				<li>{{$t('export-type-html')}}</li>
				<li>{{$t('export-type-json')}}</li>
				<li>{{$t('export-type-json-upload')}}</li>
			</ul>
			<wait-icon class="mb-2" v-if="exporting"/>
			<p class="mb-2 text-center">
				<button class="mr-1 btn btn-primary" v-on:click="exportHtml()">HTML</button>
				<button class="mr-1 btn btn-primary" v-on:click="exportJson({uploads:false})">JSON</button>
				<button class="mr-1 btn btn-primary" v-on:click="exportJson({uploads:true})">JSON &amp; Uploads</button>
			</p>
		</modal-info>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :url="shareUrl"/>
  	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import IndexList from 'Main/components/IndexList.vue';
import ModalInfo from 'Main/components/ModalInfo.vue';
import ModalShare from 'Main/components/ModalShare.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';
import store from 'Main/js/store.js';
import html from 'Main/js/html.js';
import download from 'Main/js/download.js';
import generator from 'Main/js/password-generator';
import base64helper from 'Main/js/base64helper';

export default {
	name: 'home',
	components: { PageTitle, ModalInfo, ModalShare, IndexList, WaitIcon },
	data: function() {
		return {
			allIdeas:[],
			exportIdeas:false,				//set selected for export
			shareUrl:'',
			createTitle:'',
			loading:true,
			exporting:false
		}
	},
	mounted: function() {
		if (!store.user.hasRole('ideas')) return this.$router.push({name:'ideas-part'});
		this.loadMeta();
	},
	methods: {
		loadMeta: function() {
			this.loading=true;
			this.$axios.get('ideas/ideas-meta').then(response=> {
				this.allIdeas=response.data;
				this.loading=false;
			})
		},
		share: function(ideas) {
			var ticket=ideas.ticket;
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/ideas/'+ticket;
		},
		start: function(ideas) {
			this.$router.push({name:'ideas-part',params:{ticket:ideas.ticket}})
		},
		edit: function(ideas) {
			this.$router.push({name:'ideas-edit',params:{id:ideas._id}})
		},
		//Export HTML
		exportHtml: async function() {
			this.exporting=true;
			var response=await this.$axios.get('ideas/ideas/'+this.exportIdeas._id);
			var ideas=Object.assign({}, response.data);
			var h='<!DOCTYPE html><html style="font-size:12pt;font-family:Arial;"><head><title>'+this.$t('title')+' - '+html.escapeHTML(ideas.title)+'</title><meta charset="UTF-8"></head><body>';
			h+='<h1>'+this.$t('title')+' - '+html.escapeHTML(ideas.title)+'</h1>';
			h+='<p>'+ideas.desc+'</p>';
			for (var card of ideas.cards) {
				h+="<h2>"+html.escapeHTML(card.title)+'</h2><ul>';
				for (var content of card.contents) {
					if (content.type=="a" || content.type=="upload" )  {
						if (content.url.match(this.$consts.REGEX_IMAGE)) {
							h+='<center><img alt="'+html.escapeHTML(content.text)+'" src="'+html.escapeHTML(this.getContentUrl(content))+'"></center>';
						}
						else {
							h+='<li><a href="'+html.escapeHTML(this.getContentUrl(content))+'">'+html.escapeHTML(content.text)+'</a>';
						}
					}
					else  h+='<li>'+html.escapeHTML(content.text);
				}
				h+='</ul>';
			}
			//trigger download
			download.downloadHtml(html.escapeHTML(ideas.title),h);
			this.exportIdeas=false;
			this.exporting=false;
		},
		//Export Json, optionally with uploads
		exportJson: async function(options) {
			this.exporting=true;
			var ideas=await this.getSet(this.exportIdeas);
			if (options.uploads) {
				for (var card of ideas.cards) {
					for (var content of card.contents) {
						if (content.type=='upload') {
							var url=await base64helper.getMediaBase64Url(this.getContentUrl(content));
							content.url=url;
						}
					}
				}
			}
			download.downloadJson(ideas);
			this.exporting=false;
			this.exportIdeas='';
		},
		getSet: async function(ideasMeta) {
			var response=await this.$axios.get('ideas/ideas/'+ideasMeta._id);
			var ideas=Object.assign({}, response.data);
			//remove unecessary information
			delete ideas._id;
			delete ideas.__v;
			delete ideas.owner;
			delete ideas.uploadDir;
			for (var card of ideas.cards) {
				delete card._id;
				delete card.__v;
				for (var content of card.contents) {
					delete content._id;
					delete content.__v;
				}
			}
			return ideas;
		},
		//Return content url - taking account local uploads
		getContentUrl: function(content) {
			if (!content || !content.url) return '';
			if (content.type=='a' || content.url.startsWith('data:') || content.url.indexOf('://')>0 ) return content.url;
			if (this.$config.urlBackend=='/') return location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')+'/upload/ideas/'+content.url;
			return this.$config.urlBackend+'upload/ideas/'+content.url;
		}
	}
}
</script>

<i18n>
{
	"de": {
		"title": "Ideensammlung",
		"text": "Gemeinsames Sammeln von Ideen - digitales Brainstorming.",
		"manual": "Anleitung",
		"privacy-title": "Hinweis zum Datenschutz",
		"privacy-text": "Alle eingegebenen Informationen werden unverschlüsselt auf dem Webserver in einer Datenbank abgelegt. Sofern Sie die Ideensammlung nicht teilen, ist der Zugriff nur für Sie nach einer Anmeldung möglich. Wird eine Sammlung über einen öffentlichen Link geteilt, sind alle enthaltenen Eingaben für alle Personen, die Zugriff auf diesen Link besitzen möglich. Die Informationen werden nicht an Dritte weitergeleitet, nach dem Löschen einer Sammlung werden sie vollständig aus der Datenbank entfernt.",
		"choose-export-format": "Exportformat wählen",
		"export-hint": "Bitte beachten Sie, dass hochgeladene Dateien nur im Exportformat \"JSON & Uploads\" enthalten sind, sichern sie diese daher separat, falls Sie ein anderes Format wählen.",
		"export-type-json": "JSON – für den späteren Import, ohne Uploads, geringe Dateigröße",
		"export-type-json-upload": "JSON & Uploads – für den späteren Import, inklusive hochgeladener Dateien (experimentell...)",
		"export-type-html": "HTML – Export als Webseite, kann mit einem Browser oder Textverarbeitungsprogramm geöffnet werden"
	},
	"en": {
		"title": "Brainstorming session",
		"text": "Collecting ideas together - digital brainstorming.",
		"manual": "Manual",
		"privacy-title": "Note on privacy",
		"privacy-text": "All entered information is stored unencrypted on the web server. Unless you share the session, access is only possible for you after logging in. If a session is shared via a public link, all entries are available for persons knowing this link. The information will not be forwarded to third parties, after deleting a session they will be completely removed from the database.",
		"choose-export-format": "Choose export format",
		"export-hint": "Please note that uploaded files are only included in the export format \"JSON & Uploads\", so save them separately if you choose another format.",
		"export-type-json": "JSON - for later import, without uploads, small file size",
		"export-type-json-upload": "JSON & Uploads - for later import, including uploaded files (experimental...)",
		"export-type-html": "HTML - export as website, can be opened with a browser or word processing program"
	}
}
</i18n>
